@import "../../../styles/utils/base";

.homeNewsContainer {
  padding: 23rem 0;
  .homeNewsContainerBody {
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 3rem;
    @include response(tab-port) {
      grid-template-columns: 1fr;
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      @include response(vp-800) {
        grid-template-columns: 1fr;
      }
    }
    aside {
      display: block;
      margin: 0 auto;
      padding: 0 1rem;

      .asideHeader {
        @include heading($headingSecondary);
      }
      .asideContent {
        height: 100rem;
        padding-right: 1rem;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #eee $white;
      }
    }
  }
}
