@import "../../../styles/utils/base";

.homeNewsContainer {
  padding: 23rem 0;
  @include response(vp-800) {
    padding: 15rem 0;
  }
  .homeNewsContainerBody {
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 3rem;
    @include response(tab-port) {
      grid-template-columns: 1fr;
      gap: 10rem;
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      @include response(vp-800) {
        grid-template-columns: 1fr;
        gap: 10rem;
      }
    }
    aside {
      display: block;
      margin: 0 auto;
      padding: 0 1rem;

      .asideHeader {
        @include heading($headingSecondary);
      }
      .asideContent {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: 90rem;
        padding-right: 1rem;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #eee $white;
      }
      .highlightButton {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
