@import "../../../styles/utils/base";
.container {
  position: relative;
  // width: 54.6rem;
  height: 100%;
  .newsCardImg {
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }

  .imageAlt {
    padding: 0.5rem 0rem;

    color: $textDark;

    font-size: clamp(12px, $altText, $altText);
    font-weight: $semiBold;
    line-height: 1.2;

    height: 4ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .newsHeading {
    padding: 4rem 0rem 2.5rem 0rem;

    color: $textDark;

    font-size: clamp(20px, $newsHeading, $newsHeading);
    font-weight: $bold;
  }

  .newsPublisher {
    padding-right: 2.5rem;

    color: $textLight;

    //font-size: clamp(15px, $subHeading, $subHeading);
    font-size: $subHeading;
    font-weight: $regular;
    font-style: italic;
  }

  .newsParagraph {
    height: 20ch;
    margin: 2rem 0rem 6rem 0rem;
    overflow: hidden;

    color: $textDark;

    font-size: clamp(16px, $paragraph, $paragraph);
    font-weight: $regular;
    line-height: 1.3;
  }
  .button {
    width: fit-content;
    margin: 0 auto;
  }
  .readMore {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    margin: 0rem auto;
    padding: 1rem;

    color: $primary;
    background-color: white;
    border: 0.1rem solid $secondaryCyan;

    font-size: clamp(14px, $paragraph, $paragraph);
    font-weight: $regular;

    transition: all $duration ease-in-out;

    &:hover {
      color: white;
      background-color: $secondaryCyan;
    }
  }
}

// If the image is in featured section of news and highlights page then change some style props
.featuredContainer {
  .newsCardImg {
    height: 60rem;
    @include response(vp-800) {
      height: 40rem;
    }
  }

  .readMore {
    @include response(phone) {
      bottom: initial;
    }
  }
}
