@import "../../../styles/utils/base";

.heroWhatWeDoContainer {
  padding: 7.8rem 0 30rem 0;
  position: relative;
  @include response(vp-800) {
    padding: 7.8rem 0 15rem 0;
  }

  .backgroundPath {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .whatWeDoMain {
    z-index: 3;
    .heading {
      @include heading();
    }
    .whatWeDoBody {
      margin-top: 12.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12.5rem 3.5rem;
      @include response(vp-800) {
        display: none;
      }
      @include response(tab-port) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .whatWeDoBodyMobile {
      display: none;
      z-index: 3;
      position: relative;
      margin-top: 4rem;
      @include response(vp-800) {
        display: block;
      }
    }
  }
}
