@import '../../styles/utils/base';

.mediaKitContainer{
    position: relative;
    .mediaKitContainerHeader{
        position: relative;
        min-height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        h2{
            @include heading(6rem, $white);
        }
    }
    .mediaKitContainerBody{
        min-height: 81.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include response(vp-800){
            height: auto; 
        }
        .mediaKitContainerBodyGrid{
            width: 140.8rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 9.5rem 7.4rem;
            @include response(vp-800){
                padding: 0 2rem 2rem 2rem;
                width: 100%;
                grid-template-columns: 1fr;  
            }
            .mediaKitCard{
                display: flex;
                h3{
                    font-size: 2.8rem;
                    font-weight: $bold;
                    color: $textDark;
                    text-transform: capitalize;
                }
                img{
                    height: 16rem;
                    width: 16rem;
                }
                p{
                    font-size: 1.8rem;
                    color: #828282;
                }
                a{
                    width: 16.1rem;
                    text-align: center;
                    padding: 1rem 2rem;
                    text-transform: capitalize;
                    font-size: 1.8rem;
                    color: $primary;
                    border: 1px solid $secondaryCyan;
                }
            }
        }
    }
    .mediaKitContainerFooter{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            height: 45.8rem;
            @include response(vp-800){
                display: none;
            }
        }

    }
}