@import "../../../styles/utils/base";
.heading {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 2rem 0rem;
  border: solid $primary;
  border-width: 0.5rem 0rem 0.5rem 0rem;
  color: $primary;
  text-transform: uppercase;
}
.regular {
  font-size: $heading;
  @include response(vp-800) {
    font-size: $heading - 4rem;
  }
}
.small {
  font-size: $headingSecondary;
}
.large {
  font-size: $headingLarge;
}
.textWhite {
  color: $white;
  border: solid $white;
  border-width: 0.5rem 0rem 0.5rem 0rem;
}
.alignCenter {
  margin: 2rem auto;
}
