@import "../../../styles/utils/base";
.heading {
  width: fit-content;
  color: $primary;
  border: solid $primary;
  border-width: 0.2rem 0rem 0.2rem 0rem;
}
.regular {
  font-size: $heading;
}
.small {
  font-size: $headingSecondary;
}
.large {
  font-size: $headingLarge;
}
