@import "../../../styles/utils/base";

// Swiper slider settings is in the styles/utils directory and that's where the slider css are
.articleSection {
  // height: 108rem;
  position: relative;
  padding: 0rem 0rem 31.9rem 0rem;
  overflow: hidden;
  @include response(vp-800) {
    padding: 0rem 0rem 15rem 0rem;
  }
  .heading {
    @include heading();
  }

  .swiperWrapper {
    position: relative;
    height: 86.4rem;
    @include response(vp-800) {
      padding: 0 5rem;
    }
    .articleBg {
      position: absolute;
      left: -50rem;
      height: 100%;
    }
  }

  .author {
    width: max-content;
    font-size: 2.6rem;
    color: $textLight;
    margin: 2rem auto;
  }
  .articleFooter {
    padding: 2rem;
    text-align: center;
  }
}
