@import "../../../styles/utils/base";

// Swiper slider settings is in the styles/utils directory and that's where the slider css are
.articleSection {
  height: 105rem;
  padding: 5rem;
}

.container {
  margin: auto;
}
