@import "../../../styles/utils/base";

// highlight container
.highlightContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  cursor: pointer;
  // highlight image container
  &:first-child {
    margin-top: 0;
  }
  .imgContainer {
    width: 11.3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  // highlight description
  .desc {
    width: fit-content;

    color: $textLight;
    font-weight: $bold;
    font-size: $paragraph;
    transition: color 0.25s ease;
    @include response(tab-port) {
      font-size: $paragraphMin;
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  &:hover {
    .desc {
      color: $primary;
    }
  }
}
