@import "../../../styles/utils/base";

// highlight container
.highlightContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 2rem;
  // highlight image container
  &:first-child{
    margin-top: 0;
  }
  .imgContainer {
    position: relative;
    overflow: hidden;

    width: 13.1rem;
    border-radius: 50%;
  }
  // highlight description
  .desc {
    width: clamp(375px, 28.4rem, 90vw);

    color: $textLight;

    font-size: clamp($paragraphMin, $paragraph, $paragraph);
  }
}
