@import "../../../styles/utils/base";

.nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 9rem;
  width: 100%;
  max-width: 192rem;
  background-color: rgba($color: $white, $alpha: 0.4);
  transition: 0.3s;
  z-index: 1200;
  @media screen and (max-width: 900px) {
    height: 60px;
  }
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    .menuContainer {
      ul {
        @media screen and (max-width: 900px) {
          position: absolute;
          top: 0;
          left: -100%;
          background-color: $primary;
          min-height: 100vh;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.3s;
        }
        li {
          list-style-type: none;
          display: inline;
          margin: 0 1.7rem;
          padding: 3.5rem 0;
          font-weight: 600;
          font-size: 2rem;
          color: $white;
          cursor: pointer;
          position: relative;
          height: 100%;
          @media screen and (max-width: 900px) {
            display: block;
            font-size: 16px;
            text-align: center;
            transition: 0.3s;
            //margin: 5rem;
          }
          a {
            color: $white;
            font-weight: 600;
            font-size: 2rem;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
              color: $secondary;
            }
            @media screen and (max-width: 900px) {
              font-size: 16px;
            }
          }
          img {
            width: 1.643rem;
            height: 1.64rem;
            cursor: pointer;
            @media screen and (max-width: 900px) {
              width: 16.4px;
              height: 16.4px;
            }
          }
          .navActive {
            color: $secondary;
          }
          &:hover {
            .dropdown {
              display: block;
              animation: opacityNew 0.2s;
            }
          }
        }
        .dropdown {
          position: absolute;
          background-color: $white;
          border: 1px solid $primary;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          display: none;
          @media screen and (max-width: 900px) {
            position: relative;
            min-height: fit-content;
            margin-top: 15px;
          }
          li {
            text-align: center;
            min-width: 15rem;
            padding: 2rem;
            display: block;
            color: $primary;
            &:not(:last-child) {
              border-bottom: 1px solid $primary;
            }
            a {
              color: $primary;
            }
          }
        }
      }
    }
    img {
      height: 5.4rem;
      @media screen and (max-width: 900px) {
        height: 30px;
      }
    }
  }
  .burger {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 900px) {
      display: block;
    }
  }
  .cross {
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 900px) {
      display: block;
    }
  }
  .searchInput {
    width: fit-content;
    position: absolute;
    top: 135%;
    left: 100%;
    transform: translateX(-150%);
    transition: 0.3s;
    animation: searchInput 0.3s;
    @include response(vp-800){
      transform: translateX(-120%);
      animation: none;
    }
    input {
      outline: 0;
      border: 0;
      padding: 2rem;
      background-color: $white;
      width: 300px;
      font-size: 16px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      color: $textDark;
    }
    .inputCross {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -30px;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      img {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.navScroll {
  background-color: rgba($color: $primary, $alpha: 1);
  transition: 0.3s;
}

@keyframes opacityNew {
  0% {
    transform: translate(-50%, -10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes searchInput {
  0% {
    transform: translate(-150%, -100%);
  }
  100% {
    transform: translate(-150%, 0);
  }
}
