@import "../../../styles/utils/base";

.headerHero {
  height: 123.6rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include response(tab-port) {
    height: 133vw;
  }
  .heroBanner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .heroBody {
    z-index: 2;
    width: calc(100vw - 29rem);
    @include response(vp-800) {
      width: calc(100vw - 5.5rem);
    }
    // height: 78.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      //   height: 78.6rem;
      width: 84.1rem;

      @include response(tab-port) {
        width: 100%;
      }
    }
    .heroContentLeft {
      position: absolute;
      left: 0;
      @media screen and (min-width: 1921px) {
        left: 5rem;
      }
      bottom: 0;
      @include response(tab-port) {
        // left: 5%;
        bottom: -15vw;
      }
      @include response(s-desktop) {
        // left: 5%;
        bottom: -10vw;
      }

      h5 {
        font-size: 2rem;
        font-weight: $bold;
        text-transform: uppercase;
        color: $primary;
        @include response(tab-port) {
          font-size: 14px;
        }
      }
      h6 {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $primary;
        margin-top: 2rem;
        @include response(tab-port) {
          font-size: 12px;
        }
      }
    }
    .heroContentRight {
      position: absolute;
      top: 17.5rem;
      right: 0;

      @media screen and (min-width: 1921px) {
        right: 5rem;
      }

      text-align: end;
      display: inline-block;
      width: 61.6rem;
      @include response(tab-port) {
        width: 94%;
        top: 60%;
        left: 5%;
      }
      .h2 {
        display: inline-block;
        overflow: hidden;
        //white-space: nowrap;
        width: 0;
        font-size: 5.3rem;
        color: $white;
        font-weight: $bold;
        line-height: 6.8rem;
        animation: typing 1s steps(20, end) forwards;

        &:nth-child(2) {
          animation-delay: 1s;
        }
        &:nth-child(3) {
          animation-delay: 2s;
        }
        &:nth-child(4) {
          animation-delay: 3s;
        }
        @include response(tab-port) {
          font-size: 4rem;
          line-height: 1;
          text-align: left;
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
