@import "../../../styles/utils/base";

.aboutTrusteesContainer {
  height: 207rem;
  position: relative;
  .aboutTrusteesPath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  @include response(vp-800) {
    height: auto;
    padding: 4rem 0;
  }
  .aboutTrusteesHeader {
    padding: 12rem 0;
    h2 {
      @include heading();
    }
  }
  .aboutTrusteesBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
    @include response(vp-800) {
      grid-template-columns: 1fr;
    }
    p {
      color: #333;
    }
  }
}
