@import "../../../styles/utils/base";

.pastEventBody {
  padding-top: 5rem 0 0 0;

  position: relative;
  .layoutContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;

    svg {
      width: 120rem;
      height: inherit;

      @include response(vp-800) {
        width: 100%;
      }
      @include response(phone) {
        width: 100%;
        display: none;
      }
    }
  }
  .pastEvents {
    h1 {
      color: $primary;
      margin-bottom: 5rem;
      font-size: 4.6rem;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Graphik", sans-serif;

      display: inline-block;

      @include response(s-phone) {
        font-size: 5rem;
      }

      &::after,
      &::before {
        content: "";
        display: block;
        height: 2px;
        background-color: $primary;
      }
    }

    padding-top: 5rem;
    .sliderContainer {
      padding-bottom: 15rem;
      border-bottom: 2px solid #707070;
    }
  }
  .paginationContainer {
    margin-block: 5rem;
  }
  .leafContainer {
    overflow: hidden;
    svg {
      display: block;
      margin-bottom: -20rem;
      margin-left: auto;
      margin-right: -16rem;
      height: 68rem;

      @include response(phone) {
        margin-inline: auto;
        height: 60rem;
      }
    }
  }
}

// events section scroll padding
.eventsContainer {
  scroll-margin-top: 10rem;
}
