@import "../../../styles/utils/base";

.faq {
  background-color: rgba(255, 255, 255, 0.781);
  border: 2px solid #c7c6c6;
  padding: 3rem 5rem;
  cursor: pointer;
  overflow: hidden;

  position: relative;

  .line {
    display: block;
    width: 1rem;
    background-color: #5dbbd1;
    opacity: 1;

    transition: all 1s;

    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 3px;
  }
  .lineNone {
    opacity: 1;
  }

  .questionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .question {
      color: $primary;
    }

    .icon {
      position: relative;
      width: 3rem;
      height: 3rem;

      // @include response(phone) {
      //   width: 25px;
      //   height: 25px;
      // }

      .one,
      .two {
        position: absolute;
        background: $primary;
        -webkit-transform: rotate(0deg);
        transform: rotate(90deg);
        -webkit-transition: 400ms all ease-out;
        transition: 400ms all ease-out;
      }
      .one {
        width: 100%;
        height: 0.3rem;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        top: 50%;
      }
      .two {
        width: 100%;
        height: 0.3rem;
        top: 50%;
      }
      .rotate {
        -webkit-transform: rotate(90deg);
        transform: rotate(0deg);
      }
    }
  }
  .answer {
    max-height: 0rem;
    transition: max-height 1s ease -0.35s, opacity 1s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      opacity: 0;
      transition: all 0.25s ease;
    }
  }
  .show {
    max-height: 100rem;
    opacity: 1;
    transition: max-height 2.25s ease, opacity 1s ease;
    p {
      opacity: 1;
      padding-top: 2rem;
      transition: all 0.25s ease;
    }
  }

  p {
    font-size: 2.2rem;
    line-height: 1.3;

    transition: color 0.3s;
  }
}
