@import "../../../styles/utils/base";

.sliderContainer {
  .cardTitle {
    padding: 1rem 0rem;

    color: $primary;

    font-size: 2rem;
    text-align: center;
  }
  .cardImg {
    height: 39.4rem;
  }
}
