@import "../../../styles/utils/base";

// Common styles for all cards
.eventsContainer,
.articlesContainer,
.videoContainer,
.awardCardContainer {
  background: transparent;
  margin: 0 2rem 0 0;

  .cardTitle {
    padding: 1rem 0rem;

    color: $primary;

    font-size: clamp(16px, $paragraph, $paragraph);
    text-align: center;
  }

  .buttons {
    padding: 1rem 0rem;
    .right-arrow-links {
      // position: relative;
      // right: 50%;
      // background: red;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }
  .cardImg {
    // height: 39.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Styles for articles slider card component
  .articleImg {
    height: 46.9rem;
  }
  .portraitImg {
    width: 80%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

// specific styles based on different type of the component
//-----Article------//
.articlesContainer {
  .cardTitle {
    font-size: $articleTitle;
    text-align: left;
    color: $textDark;
  }
}

//-----Video & awards slider card common styles------//
.videoContainer,
.awardCardContainer {
  position: relative;
  cursor: pointer;
  height: 30rem;

  .cardTitle {
    position: absolute;
    bottom: 0;
  }
}

// Video-slider styles
.videoContainer {
  // background overlay
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $textDark;
    opacity: 0%;
    transition: all $duration ease;
  }

  &:hover::before {
    opacity: 20%;
    transition: all $duration ease;
  }

  .playBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 9rem;
    aspect-ratio: 1;

    cursor: pointer;

    transition: all $duration ease;
  }

  &:hover .playBtn {
    background: white;
    border-radius: 50%;

    transition: background $duration ease;
  }
}
