@import "../../../styles/utils/base";

.homeEventsContainer {
  width: 100%;
  background-color: #eff9ff;

  .homeEventsHeader {
    height: 54.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/assets/images/landing_page/events_banner.webp");
    background-position: cover;
    background-repeat: no-repeat;

    .homeHeading {
      @include heading($color: $white);
    }
  }
  .homeEventsBody {
    margin-top: 1rem;
    contain: content;
  }
  .buttonComponent {
    width: fit-content;
    margin: 0 auto;
    padding: 8rem 0rem;
  }

  .linkableCard {
    cursor: pointer;
  }
}
