@import "../../../styles/utils/base";

.videoSlideContainer {
  padding: 0 0 20.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include response(vp-800) {
    padding: 0 5rem 20.8rem 5rem;
  }
  .videoLeaf {
    position: absolute;
    top: 50%;
    left: -25.2675rem;
    transform: translateY(-50%);
    img {
      width: 50.535rem;
      height: 68.62rem;
    }
  }
  .videoSliderBody {
    width: 129.8rem;
    @include response(vp-800) {
      width: 100%;
    }

    .videoHeroContainer {
      position: relative;

      height: 64rem;
      width: 100%;
      background-color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      object {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      .playBtn {
        @include PlayBtn(10rem);
      }
      &:hover .playBtn {
        @include PlayBtnHover();
      }
    }
    .videoThumbContainer {
      padding: 0 1.5rem;
      .videoThumb {
        height: 20.8rem;
        width: 28.5rem;
        background-color: #eee;
        @include response(vp-800) {
          height: 20.8rem;
          width: 100%;
        }
      }
    }
  }
}
