@import "../../../styles/utils/base";

.aboutDoContainer {
  height: 284.4rem;
  position: relative;
  @include response(vp-800) {
    height: auto;
    padding-bottom: 15rem;
    background-color: $grey;
  }
  .aboutDoImgPath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    @include response(vp-800) {
      display: none;
    }

    img {
      width: 100%;
    }
  }
  .aboutDoBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11.5rem 5.7rem;
    @include response(vp-800) {
      grid-template-columns: 1fr;
    }
  }
  .aboutDoFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    @include response(vp-800) {
      display: none;
    }
    img {
      height: 48.5rem;
    }
  }
}
