@import "../../../styles/utils/base";

.errorMsgContainer {
  h2 {
    font-size: 1.8rem;
    font-weight: $medium;
    padding: 2.5rem 5rem;
    background-color: #f8d7da;
    color: #8b202a;
    border: 2px solid #f5c6c6;
  }
}
