@import "../../../styles/utils/base";

.heroBanner {
  position: absolute;
  top: -60rem;
  left: 0;

  svg {
    width: 100%;
    animation: bannerAnimation 1s cubic-bezier(1, -0.39, 0.56, 1.21) forwards;
  }
}

@keyframes bannerAnimation {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(-10%);
  }
}
