@import "../../../../styles/utils/base";

.booksCardSlider {
  .bookCardContainer {
    display: flex;
    justify-content: center;
    img {
      width: 23.1rem;
      height: 32rem;
      object-fit: cover;
    }
  }
  margin-bottom: 10rem;
}
