@import "./mixing";
.container-layout {
  padding: 0 14.5rem;
  position: relative;
  @include response(s-desktop) {
    padding: 0 5.5rem;
  }
}

.mt4 {
  margin-top: 4rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt2 {
  margin-top: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.pb10 {
  padding-bottom: 10rem;
}

.ptb10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}
.btn {
  outline: 0;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1rem 3.4rem;
  cursor: pointer;
  transition: 0.3s;
}
