@import "./mixing";
.container-layout {
  padding: 0 14.5rem;
  @include response(tab-port) {
    padding: 0 5.5rem;
  }
}

.mt4 {
  margin-top: 4rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt2 {
  margin-top: 2rem;
}

.bold {
  font-weight: 700;
}
.btn {
  outline: 0;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1rem 3.4rem;
  cursor: pointer;
  transition: 0.3s;
}
