
@import "./mixing";
.container-layout {
  padding: 0 14.5rem;
  @include response(tab-port) {
    padding: 0 5.5rem;
  }
}

.mt4{
  margin-top: 4rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt2 {
  margin-top: 2rem;
}

.bold{
  font-weight: 700;
}