@mixin response($breakpoint) {
  @if $breakpoint == s-phone {
    // media size 430px
    @media (max-width: 26.88em) {
      @content;
    }
  }
  @if $breakpoint == M-phone {
    // media size 568px
    @media (max-width: 35.5em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    // media size 640px
    @media (max-width: 40em) {
      @content;
    }
  }
  @if $breakpoint == vp-800 {
    @media (max-width: 50em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // media size 960px
    @media (max-width: 60em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    // media size 1280px
    @media (max-width: 80em) {
      @content;
    }
  }
  @if $breakpoint == m-desktop {
    // media size 1440px
    @media (max-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop-max {
    @media (max-width: 112.5em) {
      @content;
    }
  }
}

@mixin heading(
  $fontSize: $heading,
  $color: $primary,
  $align: center,
  $margin: "true"
) {
  position: relative;
  z-index: 10;

  width: fit-content;
  padding: $borderWidth 0rem;
  border: solid $color;
  border-width: $borderWidth 0rem $borderWidth 0rem;

  font-size: $fontSize;
  @include response(vp-800) {
    font-size: 5.5rem;
  }
  @include response(phone) {
    font-size: 3.2rem;
  }

  text-transform: uppercase;
  color: $color;

  @if $align==center {
    margin: 0rem auto;
  }
  margin-bottom: 1rem;
}

@mixin buttonComponent {
  outline: 0;
  border: 1px solid $secondaryCyan;
  background-color: inherit;
  color: $primary;
  padding: 1rem 3.4rem;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 7rem;
  transition: 0.3s;
  &:hover {
    background-color: $secondaryCyan;
  }
}
@mixin PlayBtn($size: 5rem) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  width: $size;
  aspect-ratio: 1;

  cursor: pointer;

  transition: all $duration ease;

  // &:hover {
  //   background: white;
  //   border-radius: 50%;

  //   transition: background $duration ease;
  // }
}

@mixin PlayBtnHover {
  background: white;
  border-radius: 50%;

  transition: background $duration ease;
}
