$heading: 9.1rem;
$headingSecondary: 3.8rem;

$quotes: 5.3rem;

$paragraph: 1.8rem;
$subHeading: 1.5rem;
$altText: 1.2rem;

$wwdCardHeading: 3.5rem;
$newsHeading: 2.8rem;
// font weight
$regular: 300;
$medium: 500;
$semiBold: 600;
$bold: 700;
