// colors
$primary: #356aa0;
$secondary: #294286;
$secondaryGreen: #41b175;
$secondaryCyan: #70c5d9;
$secondaryLightBlue: #d5f2ff;

// neutrals
$textDark: #2d2d2d;

// Transition variables
$duration: 0.25s;
$mediumDuration: 0.35s;
$longDuration: 0.5s;
