// colors
$primary: #1c5991;
$secondary: #0b3475;
$secondaryGreen: #46a361;
$secondaryCyan: #5dbbd1;
$secondaryLightBlue: #cdebfd;
$white: #ffffff;

// neutrals
$textDark: #2d2d2d;
$textLight: #919090;

// Transition variables
$duration: 0.25s;
$mediumDuration: 0.35s;
$longDuration: 0.5s;
