@import "../../../styles/utils/base";

.container {
  position: relative;
  padding-block: 17rem;

  .photoGalleryBody {
    position: relative;
    z-index: 111;

    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    grid-template-rows: [row-start] min-content [row-end];
    grid-gap: 1rem;
    grid-auto-flow: dense;

    @include response(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    .box {
      @media only screen and (min-width: 959px) {
        &:nth-child(27n + 1) {
          grid-column-end: span 2;
          grid-row-end: span 2;
        }
        &:nth-child(27n + 11) {
          grid-column-end: span 2;
          grid-row-end: span 2;
        }
        &:nth-child(27n + 21) {
          grid-column-end: span 2;
          grid-row-end: span 2;
        }
      }
    }
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
  }

  span {
    cursor: pointer;
    z-index: 1000000;
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
  }
}
