@import "../../../styles/utils/base";

.faqBody {
  position: relative;

  .imgContainer {
    height: 80rem;
    width: 123rem;

    position: absolute;
    top: 0;
    left: 0;

    @include response(vp-800) {
      width: 100%;
    }
    @include response(phone) {
      top: -20rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .quesContainer {
    position: relative;
    z-index: 11;
    padding: 10rem 25rem;

    // background-color: aquamarine;

    @include response(vp-800) {
      padding: 5rem 10rem;
    }
    @include response(phone) {
      padding: 5rem;
      margin-top: -8rem;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 5rem;
      color: $textDark;
    }
    .faqContainer {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
}
