@import "../../../styles/utils/base";

.btnLight {
  outline: 0;
  border: 1px solid $secondaryCyan;
  background-color: inherit;
  color: $primary;
  padding: 1rem 3.4rem;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 7rem;
  transition: 0.3s;
  &:hover {
    background-color: $secondaryCyan;
  }
}
