@import "../../../styles/utils/base";

.container {
  position: relative;
  margin: 20rem auto;
  width: fit-content;

  .preLoader {
    font-size: 5rem;
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid $primary;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
