@import "../../../styles/utils/base";

.card_prev_arrow,
.card_next_arrow {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 100%;
  padding: 0 0.5rem;

  background-color: rgba($color: black, $alpha: 0.1);
  transition: background-color 0.25s ease;
  &:hover {
    background-color: rgba($color: black, $alpha: 0.3);
  }
}

.card_prev_arrow {
  left: 0;
  transform: translateY(-50%) scaleX(-1);
}
.card_next_arrow {
  right: 0;
}

// Style specific to recent news card
.recentNewsCardButton {
  top: 0;
  transform: translateY(0);
  height: 35rem;
  @include response(phone) {
    top: 35%;
    // transform: translateY(-50%);
    width: 7rem;
    height: 7rem;
    // padding: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    img {
      height: 50%;
    }
  }
  .card_next_arrow_img {
  }
  .card_prev_arrow_img {
    transform: scaleX(-1);
  }
}
