@import "../../../styles/utils/base";

.card_prev_arrow,
.card_next_arrow {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 100%;
  padding: 0 0.5rem;

  background-color: rgba($color: black, $alpha: 0.1);
}

.card_prev_arrow {
  left: 0;
  transform: translateY(-50%) scaleX(-1);
}
.card_next_arrow {
  right: 0;
}
