@import "../../../styles/utils/base";

.pageSection {
  position: relative;
  width: 100%;
  height: 155rem;
  padding: 20rem 0rem 5rem;
  overflow: hidden;

  @include response(vp-800) {
    height: fit-content;
  }
  .titleContainer {
    position: relative;
    width: fit-content;
    margin-left: 14.5rem;
    height: 30rem;

    @include response(vp-800) {
      margin: 0 auto;
      height: fit-content;
    }

    .profYunusName {
      color: white;
      font-size: 3.1rem;
      font-weight: $regular;
      @include response(vp-800) {
        font-size: 2.1rem;
      }
    }
    .pageTitle {
      width: 50rem;
      color: white;

      font-size: 7rem;
      font-weight: $bold;
      padding: 5rem 0rem;

      @include response(vp-800) {
        width: 30rem;
        font-size: 4rem;
        margin: 0 auto;
        padding: 1rem 0rem;
      }
    }

    .titleHeading {
      @include heading($fontSize: 7.1rem, $color: white, $align: left);
    }
  }
}
.pageLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;

  padding-top: 5rem;

  @include response(vp-800) {
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    align-content: center;
  }

  .pageContent {
    position: relative;
    z-index: 10;

    width: fit-content;
    height: fit-content;
    margin-left: 14.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 5rem;

    @include response(vp-800) {
      margin: 0 auto;
      padding: 0rem 5rem;
      align-items: center;

      text-align: justify;
    }

    .desc {
      // padding: 10rem 5rem 10rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: fit-content;
      // max-height: 48ch;
      min-height: 65rem;
      max-height: 85rem;
      overflow-y: auto;
      padding-right: 2.5rem;
      color: $textDark;

      @include response(vp-800) {
        min-height: max-content;
        max-height: max-content;
        padding: 0;
      }

      line-height: 1.2;
      font-size: 2.4rem;
      font-weight: $regular;

      scroll-behavior: smooth;
      scrollbar-color: black;
      scrollbar-width: thin;
      /* Scroll 1 */
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba($color: $textDark, $alpha: 0.1);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $textDark, $alpha: 0.2);
        border-radius: 10px;
      }
      .quotation {
        font-size: 3rem;
      }
      q {
        quotes: "\201D""\201D";
      }

      svg {
        display: block;
        width: 100%;
      }
    }
    .scrollableDesc {
      justify-content: flex-start;
    }

    button {
      width: fit-content;
    }
  }
  .yunusImage {
    position: relative;
    z-index: 10;
    right: -2rem;
    top: -35rem;

    // @include response(tab-port) {
    //   top: 10rem;
    // }

    @include response(vp-800) {
      grid-row: 1;
      justify-self: center;
      top: 0rem;
      right: 0rem;
    }

    img {
      width: 103.8rem;
      height: 100%;
      object-fit: contain;

      @include response(tab-port) {
        width: 70rem;
      }
      @include response(vp-800) {
        width: 50rem;
        border-bottom: 1px solid $textDark;
      }
    }
  }
}
