@import "../../../styles/utils/base";

.heroBannerSmall {
  position: absolute;
  top: -40rem;
  left: 0;

  width: 100%;
  height: 100.2968rem;

  @include response(phone) {
    top: -50rem;
  }

  .svgSmall {
    width: 100%;
    animation: bannerAnimation 1s cubic-bezier(1, -0.39, 0.56, 1.21) forwards;

    @include response(tab-port) {
      height: 130rem;
    }
    @include response(vp-800) {
      height: 140rem;
    }
    @include response(phone) {
      height: 180rem;
    }
    @include response(M-phone) {
      height: 160rem;
    }
  }
}
.heroBannerLarge {
  position: absolute;
  top: -20rem;
  left: 0;

  width: 100%;
  @include response(tab-port) {
    top: -50rem;
  }
  .svgLarge {
    width: 100%;
    animation: bannerAnimation 1s cubic-bezier(1, -0.39, 0.56, 1.21) forwards;
  }
}

@keyframes bannerAnimation {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(-10%);
  }
}

.bannerFlipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  // width: 100%;
  @include response(tab-port) {
    .svgSmall {
      width: 160rem;
    }
  }
}
