@import "../../../../styles/utils/base";

.container {
  @include heroBannerLarge;
  flex-direction: column;
  @include response(vp-800) {
    height: auto;
  }
  .heroContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    z-index: 5;
    // background-color: rebeccapurple;
    width: 86.2rem;
    @include response(vp-800) {
      width: auto;
      margin: 20rem;
    }
    @include response(phone) {
      margin: 15rem;
    }
  }
  .sectionTitle {
    @include heading(7.1rem, white);

    // margin-bottom: 8rem;
  }
  .bookDetailsContainer {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10rem;

    @include response(vp-800) {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
    }
    img {
      width: 43.1rem;
      //   padding-right: 6rem;
      justify-self: flex-end;
      object-fit: contain;
      @include response(tab-port) {
        width: 33.1rem;
        justify-self: center;
      }
    }
    .bookDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      //   padding-left: 6rem;

      @include response(tab-port) {
        justify-content: center;
        gap: 5rem;
      }
      @include response(vp-800) {
        text-align: center;
        gap: 5rem;
      }

      h3 {
        font-size: 4.5rem;
        font-weight: $bold;
        color: white;
      }

      .author {
        font-size: 2.5rem;
        font-weight: $regular;
        color: white;
      }
      @include response(tab-port) {
        h3,
        .author {
          color: $textDark;
        }
      }

      .details {
        font-size: 2rem;
        font-weight: $regular;
        font-style: italic;

        color: $textLight;
      }
    }
  }
  .booksCardSlider {
    width: 100%;
  }
}
