@import "./utils/base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include response(m-desktop) {
    font-size: 44.8%;
  }
  @include response(desktop) {
    font-size: 40%;
  }
  // @include response(tab-port) {
  //   font-size: 0.3em;
  // }
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-family: "Graphik", sans-serif;
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-family: "Graphik", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
