@import "./utils/base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
<<<<<<< HEAD
  // @include response(m-desktop) {
  //   font-size: 45%;
  // }
  @include response(m-desktop) {
=======
  @include response(m-desktop) {
    font-size: 44.8%;
  }
  @include response(desktop) {
>>>>>>> 4d8f85a2732ccf6cf1e54c9369d67c7f4608c2c6
    font-size: 40%;
  }
  // @include response(tab-port) {
  //   font-size: 0.3em;
  // }
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-family: "Graphik";
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
