@import "../../../styles/utils/base";

.breadCrumbContainer {
  position: relative;
  z-index: 1100;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;

  a {
    text-transform: capitalize;
    font-style: italic;

    color: $textLight;
    &:hover {
      color: #aca8a8;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: $medium;
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: $medium;
    font-style: italic;

    color: $textLight;
    &:hover {
      color: #aca8a8;
    }
  }
}

.linkBlue,
.spanBlue {
  // color: #0a3474 !important;
}
